/*
=============== 
Fonts
===============
*/


  @import url('https://fonts.googleapis.com/css2?family=Modak&family=Oswald:wght@300;400;500&family=Quattrocento+Sans&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');


:root {
 /* primary */
 
 --primaryClr-1:#fbf8cc;
 --primaryClr-2:#fdffb6;
 --primaryClr-3:#f4e285;
 --primaryClr-4:#f4d35e;
 --primaryClr-5:#ffea00;
 --primaryClr-6:#ffdd00;
 --primaryClr-7:rgb(255, 195, 0);
 --primaryClr-8:rgb(255, 162, 0);
 --primaryClr-9:#ff7b00;
 /* grey */
--greyClr-5:#212529;
--greyClr-4:#343a40;
--greyClr-3:rgb(73, 80, 87);
--greyClr-2:#6c757d;
--greyClr-1:#ced4da;

--clrWhite:#fff;
--clrWhite-2:#F8F9FA;
--clrWhite-3:#F3F5F7;
--clrWhite-4:#F8F5DD;


 --ff-primary: 'Oswald', sans-serif;
 --ff-secondary: 'Quattrocento Sans', sans-serif;
 --transition: all 0.3s linear;
 --spacing: 0.25rem;
 --radius: 0.5rem;
 --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
 --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
 --max-width: 1170px;
}

/*
=============== 
global Variables
===============
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img{
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.btn{
 padding :0.5rem 1.5rem;
 background: var(--primaryClr-7);
 border-radius: var(--radius);
 text-transform: uppercase;
 color: var(--greyClr-3);
 font-size: 1.2rem;
 letter-spacing: var(--spacing);
 border: 2px solid transparent;
 cursor: pointer;
 box-shadow: var(--dark-shadow);
 transition: var(--transition);
 display: inline-block;
 margin-bottom: 1rem;
}
.btn:hover{
 background: var(--primaryClr-4);
 border-color: var(--primaryClr-9);
}
.section-center{
 width: 90vw;
 max-width: 1170px;
 margin :0 auto;
}
.img{
 width: 100%;
 display: block;
}
/* @media  screen and (min-width:1170px) {
 .section-center{
  width: 95vw;
 }
 
} */
/* ===================================
Nav
====================================== */
/* .main-nav{
 position: fixed;
 background: var(--clrWhite-2);
 display: block;
 z-index: 2;
 box-shadow: var(--dark-shadow);
 width: 100%;
}
.nav-center{
 display: grid;
 grid-template-columns: repeat(3,1fr);
 align-items: center;
 text-align: center;
 padding: 0.725rem 0;
}
.nav-icon{
 font-size: 0.75rem;

}
.nav-icon h3{
 text-shadow: var(--dark-shadow);
 
}
.nav-icon span{
 color: var(--primaryClr-8);
}

.nav-links {

 grid-column:2/4;
}
.nav-link a{
 color: var(--greyClr-5);
 transition: var(--transition);
 justify-self: end;


}
.nav-links a:hover{
 color: var(--primaryClr-9);
}

 .nav-links{
 font-size: 1rem;
 display: inline-block;
 text-transform: capitalize;
 font-weight: 600;
 letter-spacing: var(--spacing);
 background: var(--clrWhite-2);
 justify-items: center;
 justify-self: end;

 }

 .nav-links{
  display: grid;
  grid-template-columns: repeat(4,1fr);
 }



 */



/*
=============== 
Navbar
===============
*/
.nav-links {
  display: none;
}
.nav {
  height: 5rem;
  padding: 1rem;
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.nav-header {
  display: grid;
  grid-template-columns: auto 1fr;
  -webkit-box-align: center;
  align-items: center;
}
.nav-icon{
  font-size: 0.75rem;
 
 }
 .nav-icon h3{
  text-shadow: var(--dark-shadow);
  
 }
 .nav-icon span{
  color: var(--primaryClr-8);
 }
 
.nav-btn {
  background: transparent;
  border-color: transparent;
  color: var(--primaryClr-5);
  font-size: 2rem;
  cursor: pointer;
  justify-self: end;
}
@media screen and (min-width: 768px) {
  .nav {
    background: var(--clrWhite-4);
  }
  .nav-btn {
    display: none;
  }
  .nav-links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 1rem;
    justify-self: end;
    max-width: 80%;
  }
  .nav-links a {
    text-transform: capitalize;
    color: var(--greyClr-4);
    font-weight: bold;
    letter-spacing: var(--spacing);
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .nav-links a:hover {
    color: var(--primaryClr-7);
  }
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    -webkit-box-align: center;
    align-items: center;
  }
}
/* fixed navbar */
.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clrWhite-3);
  z-index: 2;
  box-shadow: var(--light-shadow);
}
/*
=============== 
Sidebar
===============
*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgba(73, 80, 87,0.9);
  z-index: 4;
  display: grid;
  /* align-items: center;
  justify-content: center; */
  place-items: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  /* add later */
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
/* toggle sidebar */
.show-sidebar {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.sidebar-links {
  text-align: center;
}
.sidebar-links a {
  font-size: 2rem;
  text-transform: capitalize;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  color: var(--clr-grey-5);
  letter-spacing: var(--spacing);
  display: inline-block;
  margin-bottom: 1.5rem;
  color: var(--greyClr-1);
}
.sidebar-links a:hover {
  color: var(--primaryClr-4);
}
.social-icons {
  display: grid;
  margin-top: 3rem;
  width: 20rem;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.social-icon {
  font-size: 1.5rem;
  color: var(--primaryClr-2);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.social-icon:hover {
  color: var(--primaryClr-8);
}
.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  background: transparent;
  border: transparent;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  color: #bb2525;
  cursor: pointer;
}
.close-btn:hover {
  color: #e66b6b;
}


















/* ===================================
profile
====================================== */

.profile{
 background:var(--primaryClr-1);
 height: 100vh;
 background-position: fixed;
}
.profile-intro h2{
 font-size: 4rem;
 text-transform: capitalize;
 color: var(--greyClr-5);
}
 .profile-intro p{
  color: var(--greyClr-3);
  font-weight: 500;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
 }
 .profile-intro{

  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  height: 100%;
  /* justify-items: center; */
 }
 /* .profile-info{
 margin: 0 auto;
 width: 60vw;
 max-width: 30rem;
text-align: left;
align-items: left;
border: 2px solid red;
} */

.profile-icons{
 width: 60%;
 display: grid;
 grid-template-columns: repeat(4,1fr);
 font-size: 1.5rem;
 margin-top: 0.75rem;
}
.profile-icons a{
  color: var(--greyClr-4);
}
.profile-icons i{
 transition: var(--transition);
}
.profile-icons i:hover{
 color: var(--primaryClr-7);
}
.btn-hire:hover{
 color: var(--primaryClr-9);
}
.profile-img{
 display: none;
 /* height: 1rem; */
 
}
.profile-photo{
 position: relative;
 max-width: 20rem;
 max-height: 30rem;
 /* padding: 1rem 0; */
 /* border: 2px solid blue; */
 background: var(--clrWhite-2);
 border:2px solid var(--clrWhite-2);
 border-radius: 15%;

}
/* .profile-photo::before {
 content: "";
 box-sizing: border-box;
 position: absolute;
 border: 0.25rem solid red;
 width: 100%;
 height: 100%;


} */
@media screen and (min-width:992px) {
 .profile-intro{
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  /* width:90vh; */
 }
 .profile-info{
  justify-self:right;
 }
 .profile-img{
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  place-items: center;
  justify-self: left;
 }

}

/* ===================================
about
====================================== */

.about{
 margin: 0;
 height: 100%;
 padding: 2rem;
 background:var(--clrWhite-2);
 
}
.about-info{
 display:grid ;
 grid-template-rows: auto 1fr auto;
}
.about-center{
 width: 80vw;
 margin: 0 auto;
 display: grid;
place-items: center;
}
.about-img{
 justify-self: center;
 border-radius: var(--radius);
 object-fit: cover;
}

.about-img img{
 /* height: 20rem; */
 border-radius: var(--radius);
 max-height: 30rem;
}
.about-pic{
 object-fit: cover;
}

.about-title{
 padding: 2rem 0;
}
.about-info{
 /* padding :0 4rem; */
 font-weight: 500;
}
.about-text{
 color: var(--greyClr-3);
 font-size: 1rem;
 text-transform: capitalize;
 
}
.about-details{
 color: var(--greyClr-3);
 font-size: 1rem;
 text-transform: capitalize;
}
.about-details span{
 color:var(--primaryClr-9);
 font-weight: 900;
 margin-right: 1rem;
 margin-left: 0.5rem;
 text-transform: uppercase;
}
.about-btn{
 text-align: center;
 margin: 0;
 padding: 0.25 0.5rem;
 max-width: 15rem;
 color:var(--greyClr-5);
}
.about-btn a{
 color: inherit;
}
.about-btn:hover{
 color: var(--primaryClr-9);
 border-color: var(--primaryClr-4);
}

@media screen and (min-width:768px) {
 
 .about-center{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 2rem;
 }
 .about{
  padding: 4rem 0;
 }
 
}

/* ===================================
Work
====================================== */

.work{
 background:var(--primaryClr-1);
 /* height: 100vh; */
}

.work-title{
 margin-top: 2rem;
 font-size: 2rem;
 text-transform: uppercase;
 /* border: 2px solid red; */

}
.work-center{
 display:grid;
 padding: 4rem;
 /* grid-template-rows: ; */
 row-gap: 1rem;
 place-items: center;
 height: 80%;
 
 /* border: 2px solid red; */
}
.exp-tile{

 border-radius: var(--radius);
 background: var(--primaryClr-3);
 box-shadow: var(--light-shadow);
 transition: var(--transition);
 margin-bottom:0.5rem
 /* width: 100%; border: 2px solid red; */

}
.exp-tile:hover{
 box-shadow: var(--dark-shadow);
 transform: scale(1.025);
}


.exp-img-container img{
 height: 14rem;
}

.work-exp{
 display: grid;
}
.exp-info{
 text-align: left;
 padding: 0 0.525rem;
 padding-top:0.5rem ;
 color: var(--greyClr-3);
}
.exp-info h3{
 font-size: 1rem;
 color: var(--greyClr-3);
 font-weight: 800;
}
@media screen and (min-width:768px) {

 .work-exp{
  grid-template-columns: repeat(2,1fr);
  grid-column-gap:1.5rem;
 }
 
}

/* ===================================
Services
====================================== */
.services{
 background: var(--clrWhite-3);
}
.service-card{
 background: var(--clrWhite);
 max-width: 30rem;
 margin: 1rem auto;
 text-align: center;
 padding: 4rem 1rem;
 border-radius: var(--radius);
 transition: var(--transition);
 margin-bottom: 1.5rem;
 box-shadow: var(--light-shadow);
}
.service-container{
 padding: 6rem 4rem;
}
.service-cards{
 display: grid;
}
.card-title{
 letter-spacing: var(--spacing);
 font-weight: 1200;
 color: var(--greyClr-3);
}
.card-text{
 text-transform: capitalize;
 color: var(--greyClr-2);
}
.card-icon{
 font-size: 2rem;
}
.service-card:hover{
 background: var(--primaryClr-8);
 color: var(--clrWhite);
}
.service-card:hover .card-title{
 color: var(--clrWhite);
}
.service-card:hover .card-text{
 color: var(--clrWhite);
}

.service-title{
 text-align: center;
padding: 2rem 0;
}




@media screen and  (min-width:600px) {
 .service-cards{
  grid-template-columns: repeat(2,1fr);
  column-gap: 4rem;
 }
}
@media screen and  (min-width:992px) {
 .service-cards{
  grid-template-columns: repeat(3,1fr);
  column-gap: 3rem;
 }
}

.contact{
 background: url("../images/connect.jpg") center/cover fixed no-repeat;
 height: 100vh;
 display: grid;
 place-items: center;
 
}
 
.contact-card{
 margin: 0 auto;
 width: 70%;
 background: rgba(0, 0, 0, 0.8);
 text-align: center;
 border-radius: 25%;
 padding: 4rem 0;
 /* padding: 4rem; */
}
.contact-text{
 max-width: 60%;
 margin: 0 auto;
 color: var(--greyClr-1);
 font-weight: 600;
}
.contact-title{
 color: var(--greyClr-1);
}

.contact-btn{
 background: var(--primaryClr-7);
 color: var(--greyClr-5);
 border-color: var(--primaryClr-7);
}
.contact-btn:hover{
 
 background: transparent;
 color: var(--primaryClr-7);
 border-color: var(--primaryClr-7);
 }
 @media screen and (min-width:992px){
  .contact-card{
   width:600px ;
  }
 }


 /* =========================
footer
======================= */

.footer{
  background: var(--greyClr-5);
  text-align: center;
  padding: 2rem 1rem;
}
.footer p{
  letter-spacing: var(--spacing);
  display: inline-block;
  color: var(--clrWhite-2);
  padding: 1rem 1rem;
}


/* ===================================
Hire me
====================================== */

.hire{
  background: linear-gradient(rgba(255, 195, 0,0.4),rgba(255,255,255,0.8)) ,url("../images/hire.jpg") center/cover fixed ;
  height:calc(100vh - 10rem);
}
.hire-center{
  padding-top:5rem ;
  display: grid;
  grid-template-rows: 1fr 2fr;
  height: 100%;
  place-items: center;


}
.hire-title{
  color: var(--primaryClr-9);
  text-align: center;
  width: 100%;
  margin-top: auto;
}
.hire-title h2{
  font-size: 4rem;
}
.hire-text{
  text-align: center;
  margin-bottom: auto;
  width: 100%;
  color: var(--greyClr-4);
}
.hire-text a{
  color: var(--primaryClr-6);
}

/* ===================================
about-pg
====================================== */

.about-pg{
  background: linear-gradient(rgba(255, 195, 0,0.4),rgba(255,255,255,0.8)) ,url("../images/about.jpg") center/cover fixed ;
  height:calc(100vh - 10rem);
}
.about-pg-center{
  padding-top:5rem ;
  display: grid;
  grid-template-rows: 1fr 2fr;
  height: 100%;
  place-items: center;


}
.about-pg-title{
  color: var(--primaryClr-9);
  text-align: center;
  width: 100%;
  margin-top: auto;
}
.about-pg-title h2{
  font-size: 4rem;
}
.about-pg-text{
  text-align: center;
  margin-bottom: auto;
  width: 100%;
  color: var(--greyClr-4);
}
.about-pg-text a{
  color: var(--primaryClr-6);
}

/* ===================================
contact-pg
====================================== */

.contact-pg{
  background: linear-gradient(rgba(255, 195, 0,0.4),rgba(255,255,255,0.8)) ,url("../images/about.jpg") center/cover fixed ;
  height:calc(100vh - 10rem);
}
.contact-pg-center{
  padding-top:5rem ;
  display: grid;
  grid-template-rows: 1fr 2fr;
  height: 100%;
  place-items: center;


}
.contact-pg-title{
  color: var(--primaryClr-9);
  text-align: center;
  width: 100%;
  margin-top: auto;
}
.contact-pg-title h2{
  font-size: 4rem;
}
.contact-pg-text{
  text-align: center;
  margin-bottom: auto;
  width: 100%;
  color: var(--greyClr-4);
}
.contact-pg-text a{
  color: var(--primaryClr-6);
}


